<!doctype html>
<html>
<head>
    <title>List</title>
</head>
<body>
	<header><a href="http://localhost:3000/vvv.html"> <img src="/Pic/vit.jpg" alt="NOOO Logo"></a>
    <p>For add users you need click on the picture</p> </header>
    <p><a href="http://localhost:3000/vit"> Look all Users</a>  </p>
    {{{body}}}
</body>
</html>
