<!doctype html>
<html>
<head>
    <title>List</title>
</head>
<body>
	<header><a href="/vvv.html"> <img src="/Pic/vit.jpg" alt="NOOO Logo"></a>
    <p>For add users you need click on the picture</p> </header>
    <p><a href="/vit"> Look all Users</a>  </p>
    {{{body}}}
</body>
</html>
